* {
    margin: 0;

}

header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 80px;
    background-color: #6e3f98;
}

#search {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    padding: 25px 0 25px 0
}

input,
button {
    color: #ffffff;
    text-align: center;
    border-radius: 100px;
    border-width: 0;
    margin: 0 5px 0 5px;
    background-color: #a35ce0;

}

input {
    width: 300px;
}

::-webkit-input-placeholder {
    color: #ffffff;
}

#icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10% 0 0;
    color: #ffffff;
}

#past-search {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(125px, auto)) 1fr;
    grid-template-rows: 40px;
    background-color: #a35ce0;

}